.grid-container {
    margin: 20px;
}
table {
    width: 100%;
}

.badge-danger{
    color: coral;
    /* background-color: coral; */
}

.badge-success{
    color: green;
    font-weight: 800;
    /* background-color: green; */
}