<div class="row mb-3">
    <div class="col-sm-4">
        <mat-card >
            <mat-card-content>
                <mat-card-header>Purchase  </mat-card-header>
                <mat-card-header>({{ totalData.totalPurchse }})</mat-card-header>
            </mat-card-content>
            <mat-card-footer>{{ currentDate |date }}</mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-4">
        <mat-card>
            <mat-card-content>
                <mat-card-header>Sale</mat-card-header>
                <mat-card-header>({{ totalData.totalSaleNumber }})</mat-card-header>
            </mat-card-content>
            <mat-card-footer>{{ currentDate | date }}</mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-4">
        <mat-card >
            <mat-card-content style="display: inline-flex;">
                <mat-card-header>Amount &nbsp;  <small class="small"> sale</small> </mat-card-header>
          
               
            </mat-card-content>
            <span>{{ totalData.totalSale | currency }}</span>
        </mat-card>
    </div>
</div>
<!--  -->
<div class="row">
    <div class="col-sm-4">
        <mat-card >
            <mat-card-content>
                <mat-card-header>Customer</mat-card-header>
                <mat-card-header>({{ totalData.totalCustomer }})</mat-card-header>
            </mat-card-content>
            <mat-card-footer>{{ currentDate |date }}</mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-4">
        <mat-card>
            <mat-card-content>
                <mat-card-header>Supplier</mat-card-header>
                <mat-card-header>({{ totalData.totalSupplier }})</mat-card-header>
            </mat-card-content>
            <mat-card-footer>{{ currentDate |date }}</mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-4">
        <mat-card >
            <mat-card-content>
                <mat-card-header>Beer rack</mat-card-header>
                <mat-card-header>{{ 0 }}</mat-card-header>
            </mat-card-content>
            <mat-card-footer>{{ currentDate | date }}</mat-card-footer>
        </mat-card>
    </div>

</div>