<div class="row">
    <div class="container">
        <mat-card style="background-color: #007bff;border-color: #007bff;">
            <mat-card-content >
                <mat-card-header><mat-icon>rder_approve</mat-icon> Daly purchase</mat-card-header>
                <mat-card-header>{{ 0 }}</mat-card-header>
            </mat-card-content>
            <mat-card-footer>{{ "12/22/8"|date }}</mat-card-footer>
        </mat-card>

        <mat-card style="background-color: #00a65a;">
            <mat-card-content >
                <mat-card-header><mat-icon>request_page</mat-icon> Daly sale</mat-card-header>
                <mat-card-header>{{ 0 }}</mat-card-header>
            </mat-card-content>
            <mat-card-footer>{{ "12/22/8"|date }}</mat-card-footer>
        </mat-card>

        <mat-card style="background-color: #f56954;">
            <mat-card-content >
                <mat-card-header><mat-icon>point_of_sale</mat-icon> Daly amount</mat-card-header>
                <mat-card-header>{{ 0 }}</mat-card-header>
            </mat-card-content>
            <mat-card-footer>{{ "12/22/8"|date }}</mat-card-footer>
        </mat-card>
    </div>
</div>