

mat-card{
    cursor: pointer;
    width: 250px;
    height: 120px;
    display: inline-flex;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 5px 5px 10px  #333;
   
}

mat-card mat-card-content {
    display: inline-flex;
    margin: 10px;
}

mat-card mat-card-content mat-card-header{
    font-size: 18px;
    font-weight: bolder;
}