<div class="grid-container">
    <div class="error-wrapper">
        <div class="error-container">
            <div class="error">
                <div class="error-title">
                    Error
                </div>

                <div class="error-number ">
                    404
                </div>

                <div class="error-description">
                    Sorry, The page you were looking for doesn't exist
                </div>
                
               
                <div class="error-or">
                    <div class="or-line"></div>
                    <div class="or">Or</div>
                </div>
                
            </div>
        </div>
    </div>
</div>
