<h1 mat-dialog-title>Add New Supplier</h1>
<div mat-dialog-content [formGroup]="supplierToAdd">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Full name</mat-label>
            <input matInput formControlName="fullName">
            <mat-hint>Enter supplier name</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-hint>Enter supplier email</mat-hint>
        </mat-form-field>

    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" type="tel">
            <mat-hint>Enter supplier phone</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <mat-hint>Enter supplier address</mat-hint>
            <input matInput formControlName="address">
        </mat-form-field>
    </p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    <button mat-raised-button [disabled]="!supplierToAdd.valid" cdkFocusInitial color="primary"
        (click)="onSaveSupplier()">Save</button>
</div>