.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 4px 4px 0px
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}
.recent-list{
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 20px;
  margin-bottom: 2px;
}