<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
           
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="(card.title === 'Recent transaction')">
            <div class="row">
              <div class="col-12">
                <mat-list>
                  <div mat-subheader>Recent transaction</div>
                  <div *ngIf="purchases.length == 0" class="text-primary">Not yet purcharsing</div>
                  <div *ngIf="purchases.length > 0">
                    <mat-list-item *ngFor="let purchase of purchases" class="recent-list">
                      <mat-icon matListItemIcon>backup</mat-icon>
                      <div matListItemTitle>{{purchase.product.name}}</div>
                      <div matListItemLine>{{purchase.orderAt| date}}</div>
                      <mat-divider></mat-divider>
                    </mat-list-item>
                  </div>

                </mat-list>
              </div>
            </div>
          </div>
          <div *ngIf="(card.title === 'Insight')">
            <app-statistic [totalData]="totalData"></app-statistic>
          </div>
          <div *ngIf="(card.title === 'Stock chart')">
            <app-stock-chart></app-stock-chart>
          </div>
          <div *ngIf="(card.title === 'Purchase chart')">
            <app-purchase-chart></app-purchase-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>