<div class="grid-container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Inventory/Invoice</h3>
        </div>
    </div>
    <ng-container *ngIf="(appSate$ | async) as appSate" [ngSwitch]="appSate.dataState">
       
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
            <app-spiner></app-spiner>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
            <ng-container>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mat-elevation-z8">
                            <table datatable [dtOptions]="dtOptions"  class="row-border hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Invoice Number</th>
                                        <th>Product Name</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Unit Price</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let invoice of invoiceSales ; let i = index">
                                    <tr>
                                        <td>{{ invoice.id }} </td>
                                        <td>{{ invoice.invoiceNumber }}</td>
                                        <td>{{ invoice.sale?.product?.name }}</td>
                                        <td ><span [ngClass]="invoice.invoiceStatus === invoiceStatus.PAID ? 'badge-success' : 'badge-danger' ">{{ invoice.invoiceStatus }}</span></td>
                                        <td>{{ invoice.date | date:'short' }}</td>
                                        <td>{{ invoice?.sale?.price | number:'2.2-3' }}</td>
                                        <td>{{ invoice?.sale?.amount | number }}</td>
                                        <td><button mat-icon-button (click)="onViewInvoice(invoice.customer?.id)"><mat-icon>print</mat-icon></button></td>
                                    </tr>
                                   
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </ng-container>

        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
            <app-error></app-error>
        </ng-container>
    </ng-container>
</div>